<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <title>FideFlights - Inicio</title>
</head>
<body>

<nav>
    <div class="container">
        <h1>FideFlights</h1>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            
            <!-- Puedes agregar más enlaces de navegación según sea necesario -->
        </ul>
        <li><a href="PlantillaVuelos.html">Vuelos</a></li>
    <li><a href="Login.html">Login</a></li>
    </div>
    
</nav>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VN0yGGcVii0?si=TCktn-rapohq2vW9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<div class="container">
    <section id="home">
        <h2>Bienvenido a FideFlights</h2>
        <p>Descubre emocionantes destinos y reserva tus vuelos con nosotros.</p>
    </section>

    <section id="flights">
        <h2>Lista de Vuelos</h2>
        <!-- Enlace a la página de vuelos -->
        <a class="button" href="PlantillaVuelos.html">Ver Lista de Vuelos</a>
    </section>
</div>
<div>
                        <footer class="footer">
                        <div class="footer-content">
                          <p>© 2023 FideFlights. Todos los derechos reservados.</p>
                        </div>
                        </footer>
                    </div>

</body>
</html>